 <!DOCTYPE html>
<html lang="zh-cn">
    <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Here is a stduo provide you lots of creative ideas on front-end.">
    <meta name="keywords" content="Creativities, Creative Ideas, Yueruan, Yueruan Studio, Web Programming, Front-End Design">
    <meta name="author" content="Joy, Joy Kuang, Yueruan, Yueruan Studio, Web Programming, Front-End Design">
    <title>悦软工作室 Make creative ideas into reality!</title>

    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{$fa_css}" type="text/css"/>    


    <!--[if lt IE 9]><script src="{$js_url}/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{$js_url}/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons 
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="/favicon.ico">
    -->
    
    
    </head>
    <body>
        
        <div class="container">
            <div class="row">
                <div class="col-md-12"><!--
                    <h1>Table `user_account`</h1>
                    <table class="table table-striped">
                        
                        <tr><volist name="user_data_item" id="user_data_item">
                        <td>{$key}</td>
                        </volist></tr>
                        
                        <volist name="user_data" id="user_data">
                        <tr>
                            <td>{$user_data.id}</td>
                            <td>{$user_data.account}</td>
                            <td>{$user_data.passwd}</td>
                            <td>{$user_data.belong}</td>
                            <td>{$user_data.register_time}</td>
                            <td>{$user_data.last_login_time}</td>
                            <td>{$user_data.last_login_ip}</td>
                            <td>{$user_data.detail}</td>
                            <td>{$user_data.astatus}</td>
                            <td>{$user_data.verify|default="Verofy Code Here"|md5}</td>
                        </tr>
                        </volist>
                    </table>
                    
                    <hr class="divider"> -->
                    <h1>Data Management</h1>
                    <table class="table table-striped">
                        
                        <tr><td>#</td><td>登陆账号</td><td>用户群组</td><td>注册时间</td><td>状态</td><td>操作</td></tr>
                        
                        <volist name="user_data2" id="user_data2">
                        <tr>
                            <td>{$user_data2.id}</td>
                            <td>{$user_data2.account}</td>
                            <td>{$user_data2.belong}</td>
                            <td>{$user_data2.register_time}</td>
                            <td>{$user_data2.astatus}</td>
                            <td>
                                <a href="#" class="btn btn-default btn-xs"><i class="fa fa-lock"></i> 更改密码</a>
                                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-info"></i> 查看资料</a>
                                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> 删除用户</a>
                                <a href="#" class="btn btn-success btn-xs"><i class="fa fa-ban"></i> 账号冻结</a>
                            </td>
                        </tr>
                        </volist>
                    </table>                    
                </div>                              
            </div>          
        </div>
        
        
    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{$js_url}/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>