 <!DOCTYPE html>
<html lang="zh-cn">
    <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Here is a stduo provide you lots of creative ideas on front-end.">
    <meta name="keywords" content="Creativities, Creative Ideas, Yueruan, Yueruan Studio, Web Programming, Front-End Design">
    <meta name="author" content="Joy, Joy Kuang, Yueruan, Yueruan Studio, Web Programming, Front-End Design">
    <title>悦软工作室 Make creative ideas into reality!</title>

    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{$fa_css}" type="text/css"/>
    <link rel="stylesheet" href="/Public/css/_Yueruan.css" type="text/css"/>    


    <!--[if lt IE 9]><script src="{$js_url}/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{$js_url}/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons 
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="/favicon.ico">
    -->
    
    
    </head>
    <body>
        
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                  
                    <h1>User Personal Information in Detail</h1>
                    <div class="user_box row bg-gray-lighter">
                        <span class="icon bg-gray"> &nbsp;</span>
                      <p class="realname">Joy Kuang <span class="btn btn-md btn-danger sex" data-toggle="modal" data-target="#diagbox">♂</span></p>
                        <p class="account">(q-cute@163.com)</p>
                        <p class="groupname text-danger">Super Administrator</p>
                    </div>
                  
                    <div class="user_box user_items row bg-gray-lightest ">
                      <span class="col-md-2">生日：</span>
                      <span class="col-md-4">2014年11月5日</span>
                      <span class="col-md-2">地区：</span>
                      <span class="col-md-4">广东江门</span>

                      <span class="col-md-2">扣扣：</span>
                      <span class="col-md-4">243113823</span>
                      <span class="col-md-2">微博：</span>
                      <span class="col-md-4">@邝国荣君</span>
                      
                      <span class="col-md-2">邮箱：</span>
                      <span class="col-md-4">q-cute@163.com</span>
                      <span class="col-md-2">电话：</span>
                      <span class="col-md-4">(+86) 13424919448</span>
                      
                      <span class="col-md-2">博客：</span>
                      <span class="col-md-10">http://weibo.com/joykuang</span>                       
                                            
                    </div>
                  
                    <div class="user_box user_intro row bg-info">
                      <span class="col-md-12">个人简介：</span>   
                      <span class="col-md-12"><p>Fusce dapibus, tellus ac cursus commodo, tortor mauris nibhNullam id dolor id nibh ultricies vehicula ut id elit.Duis mollis, est non commodo luctus, nisi erat porttitor ligula.Maecenas sed diam eget risus varius blandit sit amet non magna.Etiam porta sem malesuada magna mollis euismod.Donec ullamcorper nulla non metus auctor fringilla.Fusce dapibus, tellus ac cursus commodo, tortor mauris nibhNullam id dolor id nibh ultricies vehicula ut id elit.Duis mollis, est non commodo luctus, nisi erat porttitor ligula.Maecenas sed diam eget risus varius blandit sit amet non magna.Etiam porta sem malesuada magna mollis euismod.Donec ullamcorper nulla non metus auctor fringilla.</p></span>                           
                    </div>
                  

                  
                      <!--div class="panel panel-default" id="diagbox">
                        <div class="panel-heading">
                          <h3 class="panel-title"><b>User Personal Information in Detail</b></h3>
                        </div>
                        <div class="panel-body">
                    <div class="user_box row bg-info">
                        <span class="icon bg-gray"> &nbsp;</span>
                      <p class="realname">Joy Kuang <span class="btn btn-md btn-danger sex">♂</span></p>
                        <p class="account">(q-cute@163.com)</p>
                        <p class="groupname text-danger">Super Administrator</p>
                    </div>
                  
                    <div class="user_box user_items row">
                      <span class="col-md-2">生日：</span>
                      <span class="col-md-4">2014年11月5日</span>
                      <span class="col-md-2">地区：</span>
                      <span class="col-md-4">广东江门</span>

                      <span class="col-md-2">扣扣：</span>
                      <span class="col-md-4">243113823</span>
                      <span class="col-md-2">微博：</span>
                      <span class="col-md-4">@邝国荣君</span>
                      
                      <span class="col-md-2">邮箱：</span>
                      <span class="col-md-4">q-cute@163.com</span>
                      <span class="col-md-2">电话：</span>
                      <span class="col-md-4">(+86) 13424919448</span>
                      
                      <span class="col-md-2">博客：</span>
                      <span class="col-md-10">http://weibo.com/joykuang</span>                       
                                            
                    </div>
                  
                    <div class="user_box user_intro row bg-gray-lightest">
                      <span class="col-md-12"><b>个人简介：</b></span>   
                      <span class="col-md-12"><p>Fusce dapibus, tellus ac cursus commodo, tortor mauris nibhNullam id dolor id nibh ultricies vehicula ut id elit.Duis mollis, est non commodo luctus, nisi erat porttitor ligula.Maecenas sed diam eget risus varius blandit sit amet non magna.Etiam porta sem malesuada magna mollis euismod.Donec ullamcorper nulla non metus auctor fringilla.Fusce dapibus, tellus ac cursus commodo, tortor mauris nibhNullam id dolor id nibh ultricies vehicula ut id elit.Duis mollis, est non commodo luctus, nisi erat porttitor ligula.Maecenas sed diam eget risus varius blandit sit amet non magna.Etiam porta sem malesuada magna mollis euismod.Donec ullamcorper nulla non metus auctor fringilla.</p></span>                           
                    </div>
                        </div>
                        <div class="panel-footer"><div class="pull-right"><a class="btn btn-default">编辑</a>&nbsp;&nbsp;<a class="btn btn-danger">关闭</a></div><div class="clearfix"></div></div>
                      </div-->

 <!-- Modal -->
<div class="modal fade" id="diagbox" tabindex="-1" role="dialog" aria-labelledby="diagbox-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="diagbox-title"><b>User Personal Information in Detail</b></h4>
      </div>
      <div class="modal-body">
                    <div class="user_box row bg-gray-lighter">
                        <span class="icon bg-gray"> &nbsp;</span>
                      <p class="realname">Joy Kuang <span class="btn btn-md btn-danger sex">♂</span></p>
                        <p class="account">(q-cute@163.com)</p>
                        <p class="groupname text-danger">Super Administrator</p>
                    </div>
                  
                    <div class="user_box user_items row">
                      <span class="col-md-2">生日：</span>
                      <span class="col-md-4">2014年11月5日</span>
                      <span class="col-md-2">地区：</span>
                      <span class="col-md-4">广东江门</span>

                      <span class="col-md-2">扣扣：</span>
                      <span class="col-md-4">243113823</span>
                      <span class="col-md-2">微博：</span>
                      <span class="col-md-4">@邝国荣君</span>
                      
                      <span class="col-md-2">邮箱：</span>
                      <span class="col-md-4">q-cute@163.com</span>
                      <span class="col-md-2">电话：</span>
                      <span class="col-md-4">(+86) 13424919448</span>
                      
                      <span class="col-md-2">博客：</span>
                      <span class="col-md-10">http://weibo.com/joykuang</span>                       
                                            
                    </div>
                  
                    <div class="user_box user_intro row bg-gray-lightest">
                      <span class="col-md-12"><b>个人简介：</b></span>   
                      <span class="col-md-12"><p>Fusce dapibus, tellus ac cursus commodo, tortor mauris nibhNullam id dolor id nibh ultricies vehicula ut id elit.Duis mollis, est non commodo luctus, nisi erat porttitor ligula.Maecenas sed diam eget risus varius blandit sit amet non magna.Etiam porta sem malesuada magna mollis euismod.Donec ullamcorper nulla non metus auctor fringilla.Fusce dapibus, tellus ac cursus commodo, tortor mauris nibhNullam id dolor id nibh ultricies vehicula ut id elit.Duis mollis, est non commodo luctus, nisi erat porttitor ligula.Maecenas sed diam eget risus varius blandit sit amet non magna.Etiam porta sem malesuada magna mollis euismod.Donec ullamcorper nulla non metus auctor fringilla.</p></span>                           
                    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default">编辑</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>                     
                      
                      
                      
                      
                      
                      
                      
                </div>                              
            </div>          
        </div>
        
        
    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{$js_url}/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>