      <div class="cms-top">
        <ul class="cms-nav uk-float-left">
         <!--
          <li>
            <a class="cms-icon uk-icon-wordpress"></a>
            <ul>
              <li><a><i class="cms-icon uk-icon-eye"></i>查看网站</a></li>
              <li><a><i class="cms-icon uk-icon-coffee"></i>网站状态</a></li>
              <li><a><i class="cms-icon uk-icon-bar-chart"></i>站长统计</a></li>
              <li><a><i class="cms-icon uk-icon-cog"></i>系统设置</a></li>
              <div class="clearfix"></div>
            </ul>
          </li>
          -->
          
          <li>
            <a class="cms-icon uk-icon-plus"></a>
            <ul>
              <li><a href='{:U("/_Dao/Post/create")}'><i class="cms-icon uk-icon-pencil"></i>撰写博文</a></li>
              <li><a href='{:U("/_Dao/Page/create")}'><i class="cms-icon uk-icon-file-o"></i>新建页面</a></li>
              <li><a href='{:U("/_Dao/Class/index")}'><i class="cms-icon uk-icon-folder"></i>添加分类</a></li>
              <li><a href='{:U("/_Dao/Media/upload")}'><i class="cms-icon uk-icon-upload"></i>上传媒体</a></li>
              <li><a href='{:U("/_Dao/Option/index")}'><i class="cms-icon uk-icon-cog"></i>设置网站</a></li>
              <div class="clearfix"></div>
            </ul>
          </li>
          <!--
          <li>
            <a class="cms-icon uk-icon-comments"></a>
            <ul>
              <li><a><i class="cms-icon uk-icon-cog"></i>产品评论</a></li>
              <li><a><i class="cms-icon uk-icon-cog"></i>站内私信</a></li>
              <li><a><i class="cms-icon uk-icon-cog"></i>系统通知</a></li>
              <li><a><i class="cms-icon uk-icon-cog"></i>发送消息</a></li>
              <div class="clearfix"></div>
            </ul>
          </li>
          -->
          
          <div class="clearfix"></div>
        </ul>
        
        <ul class="cms-nav uk-float-right"><!--
          <li>
            <a class="cms-icon uk-icon-info-circle"></a>
            <ul>
              <li><a><i class="cms-icon no-icon"></i>查看网站</a></li>
              <li><a><i class="cms-icon no-icon"></i>网站状态</a></li>
              <li><a><i class="cms-icon no-icon"></i>站长统计</a></li>
              <li><a><i class="cms-icon no-icon"></i>系统设置</a></li>
              <div class="clearfix"></div>
            </ul>
          </li>
          
          <li>
            <a class="cms-icon uk-icon-user"></a>
            <ul>
              <li><a><i class="cms-icon no-icon"></i>撰写产品</a></li>
              <li><a><i class="cms-icon no-icon"></i>新建页面</a></li>
              <li><a><i class="cms-icon no-icon"></i>添加分类</a></li>
              <li><a><i class="cms-icon no-icon"></i>上传媒体</a></li>
              <li><a><i class="cms-icon no-icon"></i>新增用户</a></li>
              <div class="clearfix"></div>
            </ul>
          </li>
          
          <li>
            <a class="cms-icon uk-icon-cog"></a>
            <ul>
              <li><a><i class="cms-icon no-icon"></i>产品评论</a></li>
              <li><a><i class="cms-icon no-icon"></i>站内私信</a></li>
              <li><a><i class="cms-icon no-icon"></i>系统通知</a></li>
              <li><a><i class="cms-icon no-icon"></i>发送消息</a></li>
              <div class="clearfix"></div>
            </ul>
          </li>-->
          
          <div class="clearfix"></div>
        </ul>
      </div>