*, strong, p, div, span,a, ul, li, small  {
    font-family: Ubuntu, 'Microsoft Yahei', sans;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { text-decoration: none; color: #999; }

.clearfix {
    clear: both;
}

.uk-link:hover, a:hover {
    text-decoration: none;
    color: #000;
}

/*********  CMS 整体布局  ***********/

.cms {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.cms > .cms-left,
.cms > .cms-right {
    position: fixed;
    top: 0;
    height: 100%;
    display: block;
}

.cms > .cms-left {
    left: 0;
    width: 160px;
    background-color: #222;
   /* box-shadow: 2px 0 3px #888;
*/
}

.cms > .cms-right {
    right: 0;
    bottom: 0;
    left: 160px;
    background-color: #f0f0f0;
/*    z-index: -1;
*/
}

/*********  左侧栏，头像  ***********/

.cms > .cms-left > .user {
    margin: 6px;
    display: block;
    width: 100%;
}

.cms > .cms-left > .user > .avatar{
    display: block;
    width: 28%;
    float: left;
}

.cms > .cms-left > .user > .avatar > img{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.cms > .cms-left > .user > .account{
    display: block;
    width: 64%;
    float: left;
    padding: 4px 0 4px 8px;
    overflow: hidden;
}

.cms > .cms-left > .user > .account > strong{
    color: #fff;
    width: 100%;
    overflow: hidden;    
}

.cms > .cms-left > .user > .account > p{
    color: #999;
    font-size: 10px;
    width: 100%;
    overflow: hidden;    
}

/*********  左侧栏，菜单  ***********/

.cms > .cms-left > .sidebar{
    margin: 8px 0 0 0;
    padding: 0;
}

.cms > .cms-left > .sidebar > .sidebar-item{
    margin: 0;
    padding: 0;
}

.cms > .cms-left > .sidebar > .sidebar-item > .sidebar-item-link{
    /*padding: 4px;*/
    display: block;
}

.sidebar-item-link> .link-title {
    font-size: 16px;
    width: 100%;
    color: #ccc;
    font-family: Ubuntu, 'Microsoft Yahei', sans;
    line-height: 28px;
    text-decoration: none;
    padding: 2px 0;
}

.sidebar-item.active > .sidebar-item-link > .link-title {
    color: #fff;
    background-color: #00796b;
}

.sidebar-item > .sidebar-item-link > .link-title:hover {
    color: #fff;
    background-color: #2e2e2e;
}

.sidebar-item.active > .sidebar-item-link > .link-title:hover {
    color: #fff;
    background-color: #00796b;
}

.sidebar-item.active > .sidebar-item-link > .sub-menu {
    display: block;
}

.sidebar-item-link > .link-title:before,
.sidebar-item-link > .link-title:after {
    width: 28px;
    height: 28px;
    display: block;
    font-family: FontAwesome;
    float: left;
    text-align: center;
    margin: 0 4px;
    font-size: 16px;
}

.sidebar-item-link > .link-title:after {
    content: "\f105";
    display: block;
    float: right;
}

.single > .sidebar-item-link > .link-title:after {
    display: none;
}

.sidebar-item-link > .sub-menu {
    display: none;
    padding: 0;
    list-style: none;
    background-color: #444;
}

.sidebar-item-link > .sub-menu > .sub-menu-title {
    display: none;
}

.sidebar-item-link > .sub-menu > .menu-item {
    display: block;
    width: 100%;
}

.sidebar-item-link > .sub-menu > .menu-item > .item-link {
    display: block;
    width: 100%;
    line-height: 20px;
    padding: 3px 4px 3px 18px;
    color: #aaa;
    text-decoration: none;
}

.sidebar-item-link > .sub-menu > .menu-item.active > .item-link {
    color: #fff;
    font-weight: 900;
}

.sidebar-item-link > .sub-menu > .menu-item > .item-link:hover {
    color: #fff;
}

/*********  左侧栏，菜单[收缩状态]  **********

这个不急，待完成  ***/

.cms > .cms-right > .cms-nav {
    display: block;
    width: 100%;
    height: 32px;
    background-color: #282828;
}

.cms-nav > .cms-nav-wrap {
    display: block;
    padding: 0;
}

.cms-nav-wrap > .cms-nav-item {
    display: block;
    float: left;
    width: 32px;
    height: 32px;
    position: relative;
}

.cms-nav-wrap > .uk-float-right {
    float: right;
}

.cms-nav-item > .item-title {
    display: block;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    
}

.cms-nav-item > .item-title:hover {
    background-color: #555;
    color: #fff;
}

.cms-nav-item > .sub-menu {
    display: none;
}

.cms-nav-item:hover > .sub-menu{
    display: block;
    padding: 0;
    position: absolute;
    top: 32px;
    left: 0;
    width: 120px;
    background-color: #555;
    z-index: 1;
}

.cms-nav-wrap > .uk-float-right:hover > .sub-menu{
    left: auto;
    right: 0;
}

.cms-nav-item:hover > .sub-menu > .menu-item{
    display: block;
 
}

.cms-nav-item:hover > .sub-menu > .menu-item > .item-link{
    display: block;
    line-height: 30px;
    font-size: 14px;
    color: #eee;
    text-decoration: none;
    padding: 0 16px;       
}

.cms-nav-item:hover > .sub-menu > .menu-item:hover > .item-link{
    background-color: #222;
    color: #fff;
}

/* 测试用 
.cms-nav-wrap > li:nth-child(odd) {
    background-color: #999;
}*/



.cms > .cms-right > .cms-nav-bottom {
    display: block;
    line-height: 30px;
    font-size: 12px;
    padding: 0 8px;
    color: #fff;
    height: 30px;
    background-color: #00695c;
    
}

.cms > .cms-right > .cms-content {
    display: block;
    width: 100%;
    position: absolute;
    top: 62px;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 8px;
    /*z-index: -1;*/
}

.cms-content > .cms-content-wrap {
    display: block;
    width: 100%;
    height: 100%;
}

.editor-main,
.editor-config {
    display: block;
    float: left;
}

.editor-config {
    padding-left: 8px;
    width: 20%;
}

.editor-main {
    width: 80%;
}

.editor-config > .editor-config-wrap {
    display: block;
    width: 100%;
    padding-bottom: 32px;
}

.article-thumbnail {
    display: block;
    width: 100%;
    /*border: 1px dashed #ccc;
    border-radius: 4px;*/
}