 <!DOCTYPE html>
<html lang="zh-cn">
    <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Here is a stduo provide you lots of creative ideas on front-end.">
    <meta name="keywords" content="Creativities, Creative Ideas, Yueruan, Yueruan Studio, Web Programming, Front-End Design">
    <meta name="author" content="Joy, Joy Kuang, Yueruan, Yueruan Studio, Web Programming, Front-End Design">
    <title>悦软工作室 Make creative ideas into reality!</title>

    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../../Public/plugins/bootstrap-3.3.0/css/bootstrap.min.css" type="text/css"/>


    <!--[if lt IE 9]><script src="{$js_url}/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{$js_url}/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons 
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="/favicon.ico">
    -->
    
    
    </head>
    <body>
        
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>:-) Congratulation!</h1>
                    <h3>ThinkPHP it worked!</h3>
                </div>                              
            </div>          
        </div>
        
        
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{$js_url}/ie10-viewport-bug-workaround.js"></script>    
    </body>
</html>