@import "less/copyright.less";
//@import "less/normalize.less";
@import "less/variables.less";
@import "less/fonts.less";

* { box-sizing: border-box; font-family: @mobile; }
a, a:hover { text-decoration: none; }
.clearfix { clear: both !important; }

.@{prefix} {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    
    & > &-left {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width:  @sidebar-width;
        height: 100%;
        background-color: lighten(@black, 10%);
        //box-shadow: 1px 0 4px lighten(@black, 40%);
        
        & > .@{prefix}-account {
            width: 100%;
            padding: @padding;
            
            & > .avatar {
                border-radius: 50%;
                max-width: 100%;
            }
        }
        
        & > .@{prefix}-left-sidebar {
            margin: 0;
            padding: 0;
        }
    }
    
    // <li> tag
    .sidebar-item {
        width: 100%;
        display: block;
        float: left;
        position: relative;
    }
    
    // <a> tag
    .sidebar-item > .item-link{
        width: 100%;
        display: block;
        float: left;
    }
    
    .sidebar-item > .item-link:hover {
        background-color: lighten(@black, 12%);
    }
    
    // <a> tag active link
    .active > .item-link:hover,
    .active > .item-link {
        background-color: darken(@teal, 8%);
    }
    
    // <span> tag for .link-item
    .sidebar-item > .item-link > .link-item{
        width: 32px;
        height: 32px;
        display: block;
        float: left;
        line-height: 32px;
        color: #fff;
        font-size: 16px;
        color: darken(@white, 8%);
    }

    // <span> tag for icon
    .sidebar-item > .item-link > .link-icon{
        text-align: center;
        font-family: @icon;
        color: darken(@white, 36%);
    }
    
     // <span> tag for title
    .sidebar-item > .item-link > .link-title{
        width: auto;
    }
    
     // <span> tag for arrow
    .sidebar-item > .item-link > .link-arrow{
        text-align: center;
        font-family: @icon;
        float: right;
    }
    
    //  <ul> tag of .sub-menu
    .sidebar-item > .sub-menu{
        width: 100%;
        display: none;
        margin: 0;
        padding: .3em 0;
        float: left;
        background-color: lighten(@black, 24%);
    }
        
    .active > .sub-menu{
        display: block;
    }
    
    .sidebar-item > .sub-menu > h3{
        width: 100%;
        display: none;
    }
    
    .sidebar-item > .sub-menu > .sub-link{
        width: 100%;
        display: block;
    }
    
    .sidebar-item > .sub-menu > .sub-link > a {
        width: 100%;
        display: block;
        font-size: 14px;
        line-height: 1.8;
        color: darken(@white, 48%);
        padding-left: 1em;
    }
    
    .sidebar-item > .sub-menu > .sub-link > a:hover {
        color: darken(@white, 20%);
    }
    
    .sidebar-item > .sub-menu > .active > a,
    .sidebar-item > .sub-menu > .active > a:hover{
        font-weight: bold;
        color: darken(@white, 8%);
    }
    
    & > &-right {
        position: absolute;
        left:  @sidebar-width;
        right: 0;
        top: 0;
        height: 100%;
        
        & > .@{prefix}-top {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            width: 100%;
            height: 32px;
            background-color: lighten(@black, 12%);
            
            &  > .@{prefix}-nav {
                /*width: 32px;*/
                margin: 0;
                padding: 0;
                display: inline-block;
                
                & > li {
                    width: 32px;
                    float: left;
                    list-style: none;
                    display: block;
                    position: relative;
                    
                    & > a {
                        display: block;
                        text-decoration: none;
                        height: 32px;
                        
                        & > .@{prefix}-icon {
                            float: left;
                        }
                    }
                    
                    & > a:hover {
                        background-color: lighten(@black, 16%);
                        color: lighten(@black, 64%);
                    }
                    
                    & > ul {
                        display: none;
                        position: absolute;
                        top: 32px;
                        left: 0;
                        min-width: 120px;
                        /* margin: 0; */
                        padding: .3em 0;
                        /* list-style: none; */
                        background-color: lighten(@black, 16%);
                        
                        & > li {
                            
                            float: left;
                            display: block;
                            width: 100%;
                            
                            & > a {
                                display: block;
                                width: 100%;
                                line-height: 32px;
                                padding: 0 .2em;
                                line-height: 1.8;
                                color: lighten(@black, 64%);
                                
                                &:hover {
                                    background-color: lighten(@black, 24%);
                                    color: @white;
                                }
                                
                                & > .@{prefix}-icon {
                                    height: auto;
                                    font-size: 14px;
                                    line-height: 1;
                                    
                                    &.no-icon{
                                        //width: 32px;
                                        width: 1em;
                                        height: 1.8em;
                                        display: block;
                                        float: left;
                                    }
                                }
                            }
                        }
                    }
                    
                    &:hover > ul {
                        display: block;
                    }
                }
            }
            
            &  > .uk-float-right {
                & > li {
                    & > ul {
                        left: auto;
                        right: 0;
                    }
                }
            }
        }
    
        & > .@{prefix}-content {
            padding: 8px;
            position: absolute;
            left: 0;
            right: 0;
            top: 32px;
            bottom: 0;

            & > .@{prefix}-content-wrap {
                background-color: @gray;
                width: 100%;
                height:100%;
                overflow: hidden;
                overflow-y: scroll;
            }
        }
    }
}

//侧边栏打开时候的样式
.sidebar-open {
    .sidebar-item > .item-link > .link-title,
    .sidebar-item > .item-link > .link-arrow {
        display: none;
    }
    .sidebar-item.active > .sub-menu{
        display: none;
    }
    
    
    .sidebar-item:hover > .sub-menu,
    .sidebar-item.active:hover > .sub-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 32px;
        padding: 0 0 .5em 0;
        width:  @sidebar-width;
        box-shadow: 1px 1px 4px lighten(@black, 40%);
    }
    
    .sidebar-item:hover > .sub-menu > h3 {
        display: block;
        background-color: darken(@teal, 8%);
        color: darken(@white, 8%);
        padding: 4px .5em;
        margin: 0;
    }
    
    .sidebar-item:hover > .sub-menu > li > a {
        padding-left: .8em;
    }
    
    .sidebar-item.active:hover > .sub-menu > li > a {
        padding-left: 1em;
    }
}

.sidebar-open {
    & >  .cms-left {
        width:  32px;
    }

    & > .cms-right {
        left:  32px;
    }
}


.@{prefix}-icon {
    width: 32px;
    height: 32px;
    text-align: center;
    font-family: @icon;
    line-height: 32px;
    font-size: 20px;
    color: darken(@white, 36%);
}